.example-form {
    display: flex;
    flex-direction: column;
    margin: 0 10px; /* Margen de 10 píxeles a los lados */
  }

  .example-full-width {
    width: 100%;
  }

  .mat-card-footer {
    display: flex;
    justify-content: center;
  }

  .mat-card-footer button {
    margin: 0 5px; /* Ajusta los márgenes entre los botones si es necesario */
  }