<button mat-raised-button color="primary" routerLink="/dashboard/crear-usuario">Agregar</button>
<div class="container-fluid"> 
  <table class="table mt-4 table-striped table-bordered ">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Usuario</th>
          <th scope="col">Nombre</th>
          <th scope="col">Correo</th>
          <th scope="col">Contraseña</th>
          <!-- <th scope="col">Address</th>
          <th scope="col">Mobile</th> -->
      
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of  myemployee">
          <th >{{user.id}}</th>
          <th >{{user.usuario}}</th>
          <th >{{user.nombre}}</th>
          <th >{{user.correo}}</th>
          <th >{{user.contrasena}}</th>
          <!-- <th >{{user.address}}</th>
          <th >{{user.mobile}}</th> -->
        
          
            <td>
              <!-- <i routerLink="/watch/view/{{user.id}}" class="fa fa-eye" style="color: orange;" aria-hidden="true"></i> -->
              <button mat-raised-button color="primary">Editar</button>
              <!--<button routerLink="/edit/update/{{user.id}}" class="edit-button">Edit</button>-->
              <!--<button (click)="deleteuser(user)" class="delete-button">Delete</button> -->
              <button mat-raised-button color="warn" (click)="deleteuser(user)" class="delete-button">Eliminar</button>
            </td>
  
          
        </tr>
       
       
      </tbody>
    </table>
  </div>